@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
:root {
  --color-primary: #4f46e5;
  --color-primary-light: rgb(59 130 246 / 0.5);
  --color-primary-dark: rgb(59 130 246 / 0.5);

  --color-grey-dark-1: #8882;
  --border-radius: 8px;
}
@import "./vars";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-text-size-adjust: 100%;
    background-color: var(--background);
  }
}
.main-content {
  max-width: 40em;
  margin: auto;
  width: 100%;
}
