@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
:root {
  --color-primary: #4f46e5;
  --color-primary-light: rgb(59 130 246 / 0.5);
  --color-primary-dark: rgb(59 130 246 / 0.5);

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}
@import "./vars";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-text-size-adjust: 100%;
    background-color: var(--background);
  }
}
.main-content {
  max-width: 40em;
  margin: auto;
  width: 100%;
}
